html, body, #map-canvas, #about {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #666666;
}
header {
	position: absolute;
	left: 10px;
	z-index: 900;
	opacity: 0;
	padding: 0 10px 10px 10px;
}
p{font-size: 14px;}
h1, h2 {
	font-family: 'Lobster', serif;
}
h1 {
	margin-top: 10px;
	color: white;
	font-size: 2.3em;
	text-shadow: 1px 1px 5px black;
}
h2 {
	font-size: 2em;
}
h1 .fa {
	font-size: 26px;
  color: white;
  margin-right: 4px;
  cursor: pointer;
}
i {
	cursor: pointer;
}
i:hover {
	color: #9AC3C5;
}
#map-canvas {
	opacity: 0;
}
#about {
  background-color: black;
  position: absolute;
  left: -320px;
  width: 320px;
  height: 100%;
  top: 0px;
  text-align: center;
  color: white;
}
#about .container {
	padding: 10px;
}
#btn-close-about {
	position: absolute;
	right: 10px;
	top: 10px;
}
footer {
	position: absolute;
	bottom: 0;
	padding: 0 10px 10px 10px;
	width: 90%;
	color: #067e71;
	opacity: 0;
}
footer .fa {
	font-size: 25px;
	color: white;
}

#gallery {
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  z-index: 999;
  overflow: hidden;3
  text-align: center;
  width: 0;
  left: 50%;
  height: 100%;
  display: none;
  opacity: 0;
}
#gallery #btn-close-gallery {
  position: absolute;
  right: 2%;
  top: 3%;
  color: white;
  font-size: 30px;
  text-decoration: none;
  z-index: 999;
  display: none;
  opacity: 0;
}
#gallery #photos {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 800;
  display: none;
  opacity: 0;
}
#gallery h2 {
  color: white;
  margin: 20px auto;
  font-weight: 100;
  text-align: center;
  text-transform: capitalize;
}
.gallery-img {
  display: block;
  max-height: 100%;
  height: 80%;
  width: auto;
  margin: 0 auto 100px;
  opacity: 0;
  transform: scale(0.98, 0.98);
}
#photos img:first-of-type {
  opacity: 1;
  transform: scale(1,1);
}
.marker {
	opacity: 0;
}
.marker h3 {
  transform: scale(0, 0);
  position: absolute;
  top: -10px;
  color: white;
  z-index: 0;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px black;
  font-size: 18px;
  opacity: 0;
}
.marker-icon {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}