html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#gallery {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  overflow: hidden;3
  text-align: center;
  width: 0;
  left: 50%;
  height: 100%;
  display: none;
  opacity: 0;
}
#gallery #btn-close-gallery {
  position: absolute;
  right: 2%;
  top: 3%;
  color: white;
  font-size: 30px;
  text-decoration: none;
  z-index: 999;
  display: none;
  opacity: 0;
}
#gallery #photos {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 800;
  padding-top: 50px;
  display: none;
  opacity: 0;
}
#gallery h2 {
  color: white;
  margin: 20px auto;
  font-weight: 100;
  text-align: center;
}
.gallery-img {
  display: block;
  max-height: 100%;
  height: 80%;
  width: auto;
  margin: 0 auto 100px;
  opacity: 0;
  transform: scale(0.98, 0.98);
}
#photos img:first-of-type {
  opacity: 1;
  transform: scale(1,1);
}
.marker h2 {
  transform: scale(0, 0);
  position: absolute;
  top: -5px;
  color: white;
  z-index: 0;
}
.marker-icon {
  position: absolute;
  transform: scale(0.9, 0.9); 
  cursor: pointer;
  z-index: 1;
}